*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body, html {
    height: 100%;
    width: 100%;
}
/*------- common-style ---------*/
.d-flex
{
    display: flex;
}
h1,h3,h4{
    text-transform: capitalize;
}
img
{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
li{
    list-style: none;
}
.flex-col
{
    flex-direction: column;
}
.h-100
{
    height: 100%;
}

.flex-grow-1 {
    flex-grow: 1;
}
.align-items-center
{
    align-items: center;
}
.justify-content-center
{
    justify-content: center;
}
.justify-content-space-between
{
    justify-content: space-between;
}
.overflow-hidden {
    overflow: hidden;
}
.icon{
    color: #a7a7ac;
    font-size: 20px;
}
.overflow-auto{
    overflow: auto;
}
.text-primary{
    color: #6bcb7e;
    background-color:#f2fcf4 ;
}
.text-secondary{
    color: #ea797a;
    background-color: #f8bfc0;
}
.text-tarnary
{
    color: #f4a742;
    background-color: #f6daa1;
}
/*------- HEADER ---------*/
#header{padding: 25px;border-bottom: 1px solid #e4e4e4;}
.menu h1{margin-left: 13px;}
.menu .icon_bar{font-size: 25px;color: #000000;}
.dashboard{margin-left: 35px;}
.profile{width: 40px;height: 40px;border-radius: 100%;overflow: hidden;margin-right: 15px;}
.profile_wrap .notification{padding: 5px;}
.profile_wrap .pro_name{margin-right: 10px;font-size: 13px;text-transform: capitalize;color: #000000;font-weight: 600;}
.notification span{color: #c2c1c6;font-size: 20px;}
.notification span:hover{color: #6bcb7e;}
.dropdown{margin-left: 30px;}
.toggle-button{cursor: pointer;}
#tooglesideBar{display: none;}
#tooglesideBar:checked+#navbar{ width: 0;flex: 0 0 0;transform: translateX(-300px);cursor: pointer;transition: all 0.3s;}
.menu .icon_bar:hover{color: #6bcb7e;}
/*------- HEADER-END ---------*/

/*------- NAVBAR ---------*/
.main_wrap{position: relative;}
#navbar {width: 250px;flex: 0 0 250px;border-right: 1px solid #ebebeb;}
.nav-list .nav_link, .nav-list h4 {display: flex;align-items: center;padding: 17px 25px;}
.nav-list .nav_link .nav-text{margin-left: 20px;text-transform: capitalize;}
.nav-list .nav_link:hover, .nav-list .nav_link.active{background-color: #f2fcf4;color: #6bcb7e;}
.nav-list .nav_link:hover span, .nav-list .nav_link.active span{color: #6bcb7e;}
/*------- NAVBAR-END ---------*/

/*------- MAIN ---------*/
.main_wrapper{padding: 20px;background-color: #fafafa;}
#searchbar{padding:13px;border-radius: 10px;border: 1px solid #808080;outline: none;}
input[type=text] {width: 30%;}
.main_wrapper .heading{margin: 30px 0;}
.card_wrapper{width: 100%;margin: 20px -15px 20px;}
.card_box{width: 16%;background-color: #fff;padding: 15px;margin: 0 15px;}
.card_icon{background-color: #f2f2f2;padding: 10px;border-radius: 50px;color: #000000;font-weight: 600;}
.card_icon.icon2{color: #57a7f4;}
.card_icon.icon3{color: #4dc796;}
.card_icon.icon4{color: #f69f4c;}
.card_icon.icon5{color: #7a77ee;}
.card_icon.icon6{color: #f07c7c;}
#table{width: 100%;border-spacing: 0 1px;background-color: #fff;}
#table th{text-align: left;padding: 5px 10px;}
#table td{padding: 10px;font-weight: 500;text-transform: capitalize;}
/*------- MAIN-END ---------*/


/*-------------- MEDIA QUERIES -----------*/
@media (max-width: 1000px) {
    #navbar{position: absolute;top: 0;left: 0;bottom: 0;z-index: 10000;background-color: #ace2b7;}
    .card_wrapper{width: 100%;}
    .card_box{width: 25%;margin-bottom: 20px;}
    .row{flex-flow: wrap;}
}
@media (max-width: 700px) {
   h1{font-size: 23px;}
   h3{font-size: 15px;}
   h4{font-size: 14px;}
   .menu .icon_bar{font-size: 20px;}
   .notification span, .fa-angle-down, .icon{font-size: 15px;}
   .profile {width: 30px;height: 30px;}
   .profile_wrap .pro_name{font-size: 11px;}
   .nav_item a{font-size: 13px;}
   #table th{font-size: 14px;}
   #table td, .card_info span{font-size: 13px;}
}